<h1>Search Results</h1>
<%= form_with url: search_path, method: :get do %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag 'Search' %>
<% end %>

<% @posts.each do |post| %>
  <div>
    <%#= render partial: "/posts/post", locals: {post: post} %>
    <%#= post.title%> <%#= post.id%>
    <%= render post %>
  </div>
<% end %>

