<%# <h1>Search Results</h1> %>
<%#= form_with url: search_path, method: :get do %>
  <%#= text_field_tag :query, params[:query] %>
  <%#= submit_tag 'Search' %>
<%# end %>
<p style="color: green"><%= notice %></p>

<h1>Possdts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>

